  #button_schedule_hour{    
    border: 0px solid black;
    color: black;       
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
}
  #temper_cur {    
    display: inline-block;
    font-size: 32px;    
    float: left;    
    height:32px
}
  #temper_present {
   color: green;   
   display: inline-block;     
    font-size: 14px;    
    float: left;    
    height:14px
}
#temper_ansent {
	color: gray;	
	display: inline-block;
    font-size: 14px;    
    float: left;    
    height:14px        
}
