  #button_schedule_hour{    
    border: 0px solid black;
    color: black;       
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
}
  #state {    
    font-size: 32px;        
}

